@font-face {
    font-family: CP Mono;
    src: url('./assets/fonts/CPMono/CPMono\ Plain.otf')format('opentype');
}

*{
    color: #ffffff;
    font-family: CP Mono;
}

.root{
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.github{
    background-color: #ffffff;
}

.icon{
    height: 64px;
    width: 64px;
    justify-self: flex-end;
}

.main{
    height: 100%;
    display: flex;
}

.project{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}